@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form action="/LoadUrl" method="get">
        <input name="url" type="text" placeholder="e.g.: https://google.com" />
        <button type="submit">Get</button>
    </form>
</div>
<script>
    var form = document.querySelector('form')[0];
    form.addEventListener('submit', LoadUrl)
    function LoadUrl(event) {
        event.preventDefault();
        fetch(form["url"]).then((data)=>{
            console.log(data);
        });
    }
</script>